.categ-div{
  margin-top: 20px;
}
.input-height{
  height: 70px;
}
.inc-cat-input{
  display: inline-flex;
  margin: 0px 10px 0px 10px;
  padding: 0px;
  .input{
    margin: 5px;
    height: 35px;
  }
}
.categ-card{
  width: 380px;
  height: 350px;
  display: inline-block;
  color: black;
  margin: 25px 0px 0px 25px;
  .categ-header-name{
    color: black;
    font-size: 40px;
  }
}
.subcateg-div{
  height: 240px;
  overflow: auto;
  margin: 10px;
}